$cores: (
    petroleo: #263238,
    petroleo2: #212c31,
    petroleo3: #171e22,
    laranja: #f57f17,
    branco: #ffffff,
    gelo: #fafafa,
    cinza: #eeeeee,
    cinza2: #a3a6a8,
    cinza3: #858585
);

$pesos: (
    regular: 400,
    bold: 700,
    black: 900
);