<IfModule mod_rewrite.c>
    RewriteEngine On
	
	#------------------------------------------------------------------------------------------------------#
	
	#Kifulia
	RewriteRule  ^/?$ pages/home/home.php [NC]
	
	
	#------------------------------------------------------------------------------------------------------#
			
</IfModule>